@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
* {
    /* border: 1px solid #000; */
    margin: 0;
    padding: 0;
}
/* PALETA DE CORES */
:root {
    --cor1: #24b3ab;
    --cor2: #1a918b;
    --cor3: #34d1c9;
    --cor4: #106964;
    --cor5: #0b4d49;
    --cor6: #3a3a3a;
    --cor7: #6c757d;
    --cor8: #555555;
}
input {
    width: 100px;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.container-fluid{
    position: relative;
    background-color: var(--cor3);
    font-size: 40px;
    top: -8px;
}
/* icones */
.collapse li a{
    color: aliceblue;
    margin: 0px 25px;    
}
.collapse ul{
    position: relative;
    float: right;
    width: 300px;
}
.navbar-nav{
    position:static;
    width: 300px;
    margin: 0px 560px;   
}
.dropdown-menu li a{
    color: black;
}
.dropdown-menu li{
    right: 25px;
    position: relative;
    font-size: 20px;
    margin: 0px 19px; 
    background-color: white;
    border: 90px;
}

/* logo */
.logo{
    border-radius: 50%;
    height: 100px;
}

/* botão segundo navbar */
.d-flex button{
    color: aliceblue;
    background-color: var(--cor4);
}
.navbar2{
    position: relative;
    background-color: #B5B2B2;
    top: -20px;

}

.navbar2 ul li {
    text-align: justify;
    text-decoration:none;
    vertical-align: sub;
    display: inline-block;
}
.navbar2 a{    
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-align: justify;
    padding: 0px 40px;
    font-style: italic;
    color: #7a7979;
    transition: 1s ease-in-out;
}
.navbar2 a:hover{
    color: #fff7f7;
}
.titleMain{
    position: relative;
    color: var(--cor2);
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
}
.titleMain h1{
    font-size: 65px;
}

/* informações iniciais */
main{
    width: 80%;
    margin: 0 auto;
}
.container1{
    border: 1px solid black;
    width: 100%;
}
.imgMain{
    border-radius: 10px;
    position: relative;
    float: left;
    width: 60%;
    margin: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.151);
}

/* PROPAGANDA */
.propaganda{
    margin: 30px 0;
}
.propaganda figure {
    margin: 0;
}
.propaganda img {
    width: 44%;
    height: 200px;
    margin: 20px 5px;
}

/* slide */
.carr {
    border-radius: 13px;
    margin: 10px auto;
    clear: both;
}

/* AVISO: CONTAINER DOIS (2) */
.container2 {
    width: 100%;
}
.container2 main {
    width: 68%;
    float: left;
}
.publicity {
    width: 28%;
    padding: 5px;
    float: right;
}
.card {
    margin: 5px;
}
.card img {
    height: 200px;
}

/* PUBLICIDADES Container Dois (2) */
aside img {
    width: 100%;
}
.box {
    border: 1px solid #000;
    width: 100%;
    margin: 5px 0;
}
.box img {
    height: 200px;
}

/* AVISO: FOOTER */
footer, footer a {
    color: #fff;
    text-align: center;
}
.social {
    background-color: var(--cor6);
    width: 100%;
    height: 180px;
}
.h1Footer {
    display: inline-block;
}
.ulFooter {
    display: inline-block;
}

.btn_social {
	width:30%;
	float:left;
    margin: 30px 0 0 50px;
}
.btn_social ul  {
	width:auto; 
	margin:auto;
    padding: 0;
}
.btn_social ul li  {
	position:relative; 
	background: var(--cor8); 
	list-style:none; 
	float:left; 
	margin:5px; 
	z-index:1; 
	overflow:hidden; 
	border-radius:3px; 
	font-size:1.5em; 
	text-align:center; 
}
.btn_social ul li a  {
	width:50px; 
	height:50px; 
	line-height:53px; 
	display:block; 
	text-decoration:none; 
	color:#fff; 
	transition:.4s;
}
.btn_social ul li::before {
	transition:0.4s; 
	position:absolute; 
	content:''; 
	width:100%; 
	height:100%; 
	top:90%; 
	left:0; 
	background:#2fcacf; 
	z-index:-1; 
	transform: scale(1); 
	transition:.4s; 
}
.btn_social ul li:hover::before { transition:0.4s; top:0%; }
.btn_social ul li a:hover       { color: var(--cor8); }

.list-inline {
    width: 60%;
    text-align: left;
    float: right;
    position: relative;
    top: 30px;
}
.list-inline a {
    text-decoration: none;
}
.list-inline a:hover {
    color: #fff;
    text-decoration: underline;
}

.inf, .inf p {
    background-color: var(--cor8);
    margin: 0;
    height: 70px;
    line-height: 70px;
}
@media (min-width: 300px) and (max-width: 800px) {
    .social {
        background-color: var(--cor6);
        width: 100%;
        height: 445px;
    }
    .none {
        display: none;
    }
    .list-inline {
        width: 60%;
        text-align: left;
        float: right;
        position: relative;
        top: -200px;
    }
    .inf {
        background-color: var(--cor8);
        height: 70px;
        line-height: 70px;
    }
    .container1{
        border: none;
    }
    .imgMain{
        right: 15px;
        width: 110%;
        margin: 0;
    }
    .noticia1{
        padding-top: 200px;
        width: 320px;
    }
    .publicity{
        display: flex;
        width: 200px;
        margin: 20px;
        display:none;
        
        
        
    }
    /* propaganda */
    .publicity .box{
        position: relative;
        
        /* padding: 20px; */
        height: 20px;
        border: none;
        
    }
   
    .col{
        position: relative;
        width: 340px;
        display: flex;
        right: 10px;
    }

    .container2 .cards{
        display: flex;
        
        align-items: center;
    }
    .container2 .card{
        position: relative;
        left: 5%;
    }
}
