@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
* {
    /* border: 1px solid #000; */
    margin: 0;
    padding: 0;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.container-fluid{
    position: relative;
    background-color: #0B28A8;
    font-size: 40px;
    top: -8px;
}
/* icones */
.collapse li a{
    color: aliceblue;
    margin: 0px 25px;    
}
.collapse ul{
    position: relative;
    float: right;
    width: 300px;
}
.navbar-nav{
    position:static;
    width: 300px;
    margin: 0px 560px;   
}
.dropdown-menu li a{
    color: black;
}
.dropdown-menu li{
    right: 25px;
    position: relative;
    font-size: 20px;
    margin: 0px 19px; 
    background-color: white;
    border: 90px;
}

/* logo */
.navbar-brand{
    position: relative;
    font-family: 'Press Start 2P', cursive;
    font-style:oblique;
    font-size: 40px;
    top: 9px;
}
.navbar-brand i{
    position: relative;
    font-size: 50px;
    top: -8px;
    padding: 3px 80px;
}

/* botão */
.d-flex button{
    color: aliceblue;
    background-color: rgb(71, 81, 226);
}
.navbar2{
    position: relative;
    background-color: #B5B2B2;
    top: -20px;

}

.navbar2 ul li {
    text-align: justify;
    text-decoration:none;
    vertical-align: sub;
    display: inline-block;
}
.navbar2 a{    
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-align: justify;
    padding: 0px 40px;
    font-style: italic;
    color: #7a7979;
    transition: 1s ease;
}
.navbar2 a:hover{
    color: #fff7f7;
}
.titleMain{
    position: relative;
    color: #179DE3;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
}
.titleMain h1{
    font-size: 65px;
}

/* informações iniciais */
main{
    border: 3px solid rgb(0, 3, 160);
    width: 80%;
    margin: 0 auto;
}
.container1{
    border: 1px solid black;
    width: 100%;
    /* margin: 0 auto;*/
}
.imgMain{
    position: relative;
    float: left;
    width: 700px;
    margin: 10px;
}

/* PROPAGANDA */
.propaganda{
    margin: 30px 0;
}
.propaganda figure {
    margin: 0;
}
.propaganda img {
    width: 44%;
    height: 200px;
    margin: 20px 5px;
}

/* slide */
.carr {
    border-radius: 13px;
    margin: 10px auto;
    clear: both;
}

.carousel img {
    border: 2px solid rgb(216, 0, 0);
    height: 298px;
}

/* AVISO: CONTAINER DOIS (2) */
.container2 {
    border: 1px solid #000;
    width: 100%;
    /* height: 400px; */
}
.container2 main {
    border: 1px solid #000;
    width: 68%;
    float: left;
}
.publicity {    
    border: 1px solid #000;
    width: 28%;
    float: right;
}
.card {
    margin: 5px;
}
.card img {
    height: 200px;
}

